{%extends 'base_admin.html.twig' %}

{%block body%}

<h2 class="text-center mt-5">Espace Admin</h2>


<!-- liste des liens pour les entités -->
{%include('admin/admin_link_entity.html.twig')%}

{%endblock%}
