<div class="introduction mt-5">

<h2 class="text-center mb-5">Vous n’avez jamais été aussi proche de vos commerces!
</h2>


<div class="text-center col-md-6 offset-md-3">
	<p>
		Vous aimez bien manger, acheter des produits de qualité fabriqués par des artisans passionnés, faire vivre le terroir ? Ça tombe bien, nous aussi ! Artisan'Halles est une plateforme de vente pour tous les artisans du domaine alimentaire. En un clic, vous pourrez retrouver le commerçant de votre village ou de votre quartier afin de commander vos produits préférés. Alors n’attendez plus, recherchez tout de suite votre commerce favori et s'il ne s'y trouve pas, présentez lui Artisan'Halles pour que ces clients se régalent.


	</p>


</div>


</div>