<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
	<div class="container">
		<div class="text-center">

			<h2 class="section-heading text-uppercase">Vos commerces</h2>
		</div>
		<div class="row">
			{%for shop in activitytypes %}

				<div
					class="col-lg-4 col-sm-6 mb-4">
					<!-- Portfolio item 1-->
					<div class="portfolio-item text-center">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fas fa-plus fa-3x"></i>
							</div>
						</div>
						{%for img in shop.imgactivity %}
							<img class="img-fluid img-activity" src="{{ asset('/uploads/' ~ img.name) }}" alt="...">
							{%endfor%}

							<div class="portfolio-caption">
								<div class="portfolio-caption-heading">
									<h3>
										<a href="{{path('app_trader_activitytype', {'id': shop.id })}}">{{shop.title}}</a>
									</h3>
								</div>
							</div>
						</div>
					</div>
					{%endfor%}</section>
